{% extends "base.html" %}
<meta http-equiv="Cache-Control" content="no-cache"/> 
{% block content %}
{%if name %}
<h2 class ="welcome-message">Hi {{name}}, choose a game from the list below</h2>
<a href="{{ url_for('logout') }}" class="btn-secondary">Logout</a>  
{% else %}
<h2 class ="welcome-message"> Hi Stranger, welcome to the lobby. Below are the games on offer. Click log-in to join one</h2>
<a href="{{ url_for('login') }}" class="btn-secondary">Login</a>
{% endif %}

<div id="games-list">
</div>

<script src="../static/js/lobby.js?v=36"></script>
{% endblock %}