.header-bar {
	height: 50px;
	width: 100%;
	background-color: grey;
	text-align: center;
}
.section-content {
	background-color: teal;


}

.section-content a{
	float: left;
	height: 70px;
	width: 20%;
	background-color: green;
	margin-left: 2%;
}

